<!DOCTYPE html>
<html>
<head>
    <title> Blog </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item head"><i class="clipboard icon"></i>Blog </div>
			<a href="/" class="item"><i class="home icon"></i>Home</a>
			<a href="/blogs/new" class="item"><i class="plus icon"></i>New Post</a>
		<div class="right menu">
			<% if(!currentUser){ %>
				<a href="/login" class="ui item"><i class="user icon"></i>Login</a>
				<a href="/register" class="ui item"><i class="user plus icon"></i>Sign Up</a>
			<% } else { %>
				<a href="#" class="ui item">Signed In as <strong><%=currentUser.username%></strong></a>
				<a href="/logout" class="ui item"><i class="sign out alternate icon"></i>Logout</a>
			<% } %>
		</div>
	</div>
</div>
<p style="padding-top: 5%;">
<div class="container">
	<p>
		<h1 class="ui grey header" style="text-align: center;">Sign Up</h1>
	</p>
		<div style="width: 30%; margin : 25px auto;">
			<form class="ui form" action="/register" method="POST">
				<div class="field">
					<label>Username</label>
					<input type="text" name="username" placeholder="Username" required>
				</div>
				<div class="field">
					<label>Password</label>
					<input type="password" name="password" placeholder="Password" required>
				</div>
				<div class="field">
					<button class="ui button">Sign Up</button>
				</div>
			</form>
			<a href="/blogs">Go back</a>
		</div>
</div>
</p>
</body>
</html>